html,body{
    height:100%;
    padding:0;
    margin:0;
    display: flex;
    flex-direction: row;
  }
  *{
    box-sizing:border-box;
  }
  .box{
    position: relative;
    width: 58em;
    height:650px;
    background-color:rgb(196, 189, 189);
  }
  
  .container{
    
    width:100%;
    height:100%;
    background-color:rgb(196, 189, 189);
    
    display: flex;
    justify-content:center;
    align-items:center;
    
  }
  
  .casilla {
    position: absolute;
   
  }
  
  .puchero {
    margin: 0;
    position: absolute;
    top: 45%;
    left: 42%;
  }
  
  #jugadores,#jugadores2,#jugadores3,#jugadores4,#jugadores5,#jugadores6{
    width: 100%;
  }

  .container2{
    width:100em;
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
  }

  #boton{
    width: 25%;
    height: 3em;
    border: none;
    border-radius: 0.7em;
    border-color: aqua;
    background: linear-gradient(45deg, #2196f3, #ff4685);
    color: white;
  }

  #boton:hover{
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 16px rgba(49, 138, 172, 1);
    transition: all 0.2s ease;
  }
